wp-config.php
.DS_Store

wp-content/uploads
wp-content/db.php

# VAGRANT
.vagrant/

# IDE
/nbproject/
.idea/*

# Composer
wp-content/themes/boilerplate/composer.phar

# Project
wp-content/themes/boilerplate/.sass-cache
wp-content/themes/boilerplate/assets/dist/
wp-content/themes/boilerplate/bower_components/
wp-content/themes/boilerplate/node_modules/
wp-content/themes/boilerplate/yarn-error.log
wp-content/themes/boilerplate/_RESSOURCES/

# 

# Versionamento de build
wp-content/themes/boilerplate/assets_version.php